@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1rem;
  color: white;
  text-shadow: 0px 0px 10px rgba(19, 41, 138, 0.8);
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .12rem;
  font-size: 1.6rem;
  color: rgb(34, 34, 34);
  /* text-shadow: 0px 0px 10px rgba(10, 18, 54, 0.8); */
}

span, label{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
  margin-top: .8rem;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: white;
}

img{
  height: 8rem;
  width: 8rem;
}

input, select{
  background-color: #3e7fbd;
  color: white;
  border: transparent;
  width: 5rem;
  transition: width 0.4s ease-in-out;
}

input:focus{
  width: 15rem;
}

label{
  display: flex;
  gap: .25rem;
}

#navbar{
  background: linear-gradient(90deg, rgb(42, 117, 187) 30%, rgba(255,203,5,1) 100%);
  text-align: center;
  padding: 1.25rem 0;
}

#pokemonLogo{
  width: 20rem;
}

:root{
  --grass: #60b860;
  
  --poison: #b084da;
  
  --normal: #a7a7a7;
  
  --fire: #fca660;
  
  --water: #6594fa;
  
  --electric: #f8f8a9;
  
  --ice: #4cb9b9;
  
  --fighting: #c96a7d;
  
  --ground: #a37757;
  
  --flying: #3f89ad;
  
  --psychic: #e280b5;
  
  --bug: #97d35f;
  
  --rock: #a7925a;
  
  --ghost: #853e85;
  
  --dark: #bebbc8;
  
  --dragon: #8ab7f1;
  
  --steel: #879696;
  
  --fairy: #f893c5;
}
