@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1rem;
  color: white;
  text-shadow: 0px 0px 10px rgba(19, 41, 138, 0.8);
}

p, span, label{
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
  margin-top: .8rem;
}

img{
  height: 8rem;
  width: 8rem;
}

input, select{
  background-color: #3e7fbd;
  color: white;
  border: transparent;
  width: 5rem;
  transition: width 0.4s ease-in-out;
}

input:focus{
  width: 15rem;
}

label{
  display: flex;
  gap: .25rem;
}

.loading{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d1d1d1;
  visibility: visible;
  opacity: 1;
  transition: visibility .8s linear, opacity .8s linear;
}

.loading.hidden{
  visibility: hidden;
  opacity: 0;
}

.loading div{
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: pokeballSpin;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  animation-direction: normal;
}

.loading.hidden div{
  display: none;
}

.loading div img{
  width: 150%;
  height: 150%;
}

#navbar{
  background: linear-gradient(90deg, rgb(42, 117, 187) 30%, rgba(255,203,5,1) 100%);
  text-align: center;
  padding: 1.25rem 0;
}

#pokemonLogo{
  width: 20rem;
}

#filterSearch{
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.pokemonWrapper{
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.pokemonCard{
  width: 28%;
  height: 20rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 4rem;
  border-radius: .75rem;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.336);
}

.pokemonCard:hover{
  transform: scale(1.05);
}

#pokemonId{
  text-align: left;
  font-size: 1.5rem;
  margin: 0 .5rem;
}

.pokemonTypes{
  display: flex;
  justify-content: center;
}

.pokemonType{
  align-items: center;
  padding: 0.5rem 1rem;
  margin: .75rem;
  border-radius: .75rem;
}

.arrowToTop{
  background-color: rgb(42, 117, 187);
  transform: rotate(-90deg);
  position: fixed;
  right: 1.6rem;
  bottom: 1.6rem;
  padding: 0.8rem;
  clip-path: circle();
  border: none;
}

.arrowToTop:hover{
  transform: scale(1.1) rotate(-90deg);
}

@media (max-width: 800px) {
  .pokemonCard{
    width: 48%;
  }
}

@keyframes pokeballSpin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.grass{
  background-color: #04a004b6;
}

.poison{
  background-color: #8246b9;
}

.normal{
  background-color: #696969;
}

.fire{
  background-color: #ff7300;
}

.water{
  background-color: #3361c5;
}

.electric{
  background-color: #eeee0f;
}

.ice{
  background-color: #39e4d5;
}

.fighting{
  background-color: #bd2e4b;
}

.ground{
  background-color: #ac581c;
}

.flying{
  background-color: #6285b3;
}

.psychic{
  background-color: #ff1493;
}

.bug{
  background-color: #42cc18;
}

.rock{
  background-color: #746029
}

.ghost{
  background-color: #8b5391;
}

.dark{
  background-color: #8e8c94;
}

.dragon{
  background-color: #326caf;
}

.steel{
  background-color: #617a7a;
}

.fairy{
  background-color: #e4519a;
}

:root{
  --grass: #327232b6;
  
  --poison: #b996da;
  
  --normal: #a7a7a7;
  
  --fire: #fca660;
  
  --water: #3d73e7be;
  
  --electric: #f5f597;
  
  --ice: #4cb9b9;
  
  --fighting: #c96a7d;
  
  --ground: #c28e6a;
  
  --flying: #9badb6;
  
  --psychic: #e280b5;
  
  --bug: #a8d67e;
  
  --rock: #998652;
  
  --ghost: #853e85;
  
  --dark: #bebbc8;
  
  --dragon: #8ab7f1;
  
  --steel: #879696;
  
  --fairy: #f893c5;
}

